
h1 {
    font-size: 40px;
}

h3 {
    text-align: center;
}

span.comederos {
    background-color: #f0a83e;
}

div.descripcion {
    text-align: center;
}

div.producto {
    background-color: #fbfaf6;
}

p.especial {
    color: #f0a83e;
}